@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #101113;
	color: #fff;
}

.nav {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container {
	max-width: 90vw;
	margin: auto;
	padding: 1rem;
}

img {
	width: 100%;
}

.heading {
	text-align: center;
}

.heading h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 3rem;
}

.buttons {
	padding: 0.6rem 0;
	display: flex;
	justify-content: center;
}

.btn {
	background: none;
	color: #F2BB05;
	display: block;
	margin: 0 1rem;
	cursor: pointer;
	outline: none;
	transition: 0.4s ease-out;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	border: none;
}

.btn::after {
	content: "";
	display: block;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	background: #F2BB05;
	margin-top: 0.5rem;
	width: 0;
	transition: 0.4s ease-out;
}

.btn:hover::after {
	width: 100%;
}

.btn:hover {
	opacity: 0.7;
}

.active {
	color: white;
}
.active::after {
	content: "";
	display: block;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	margin-top: 0.5rem;
	width: 100;
	transition: 0.4s ease-out;
}
.team-members {
	margin: 2rem;
}

.team-member {
	border-radius: 5px;
	overflow: hidden;
	background-color: rgb(92, 30, 30);
	color: black;
	margin: 0.5rem;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
	display: none;
	animation: animate 5s;
}

@keyframes animate {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.image img {
	display: block;
	border-radius: 4px;
}

.name{
	display: block;
	font-family: sans-serif;
	color: #F2BB05;
	font-weight: bold;
}

.name h2{
	font-size: 4vh;
}

.social-links {
	padding-top: 15px;
}

.social-links a {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color: #0f9ddf;
	border-radius: 50%;
	margin: 0 2px;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	transition: all .5s ease;
}

.social-links a:hover {
	box-shadow: 0 0 10px rgb(83, 80, 80);
}

@media screen and (min-width: 550px){
    .team-member{
        display: grid;
        grid-template-columns: 25% auto;
        align-items: center;
        padding: 1rem;
        column-gap: 1rem;
    }
	.name h2{
		font-size: 2vh;
	}
	.team-members{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3rem;
		align-items: center;
		justify-content: center;
		text-align:center;
    }
}
@media screen and (max-width: 546px){
    .team-member{
        display: grid;
        grid-template-columns: 25% auto;
        align-items: center;
        padding: 1rem;
        column-gap: 1rem;
    }
	.name h2{
		font-size: 2vh;
	}
	.name p{
		font-size: 2vh;
	}
	.team-members{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3rem;
		align-items: center;
		justify-content: center;
		text-align:center;
    }
	.buttons {
		padding: 0.1rem 0;
		display: flex;
		justify-content: center;
	}
	
	.btn {
		background: none;
		color: #F2BB05;
		display: block;
		cursor: pointer;
		outline: none;
		transition: 0.4s ease-out;
		font-family: sans-serif;
		font-weight: bold;
		font-size:10px;
		border: none;
		margin-left: 0;
	}
	.btn::after {
		content: "";
		display: block;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		background: #ffffff;
		margin-top: 0.5rem;
		width: 0;
		transition: 0.4s ease-out;
	}
	
	.btn:hover::after {
		width: 100%;
	}
	
	.btn:hover {
		opacity: 0.7;
	}
	.active::after {
		content: "";
		display: block;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		background: #ffffff;
		margin-top: 0.5rem;
		width: 100;
		transition: 0.4s ease-out;
	}
}

@media screen and (min-width: 768px){
    .heading p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
	.team-members{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
		align-items: center;
		justify-content: center;
		text-align:center;
		height: 70vh;
    }
}

@media screen and (min-width: 992px){
    .menu-head p{
        width: 50%;
    }
    .team-members{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
		align-items: center;
		justify-content: center;
		text-align:center;
		height: 50vh;
    }
	.name h2{
		font-size: 4vh;
	}
}

